@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #212121;
    --text-color: white;
  }
}

@media(prefers-color-scheme: light) {
  :root {
    --bg-color: #f5f5f5;
    --text-color: black;
    }
}
