.ant-page-header {
  background-color: #c2b280;
  height: 5rem;
}

:deep(.ant-page-header-content) {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-container-links {
  display: flex;
  gap: 1rem;
  color: white;
}
