@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #212121;
    --text-color: white;
    --header-bg-color: #c2b280;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f5f5f5;
    --text-color: black;
    --header-bg-color: #c2b280;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
