.reveal .slides section.two-column-layout section:last-child {
  .align-image {
    padding-left: 20%;
  }
}

/**
  - modify the top of icon to avoid the icon be just below the name of the speaker
**/
.reveal .slides section[data-background].speaker-slide img[alt*=badge] {
  top: 800px
}

/**
  - add a new class to display code correctly when there is a lot of code on the diapo
**/
.reveal .slides section.with-code pre.medium-code:not(.literal) code {
  font-size: 1.1em;
  line-height: 2em;
}

.reveal .slides section {
  .center {
    text-align: center;
  }
  .big-text {
    font-size: 3em;
  }

  .bold {
    font-weight: 600;
  }

  .half {
    width: 50%;
  }

  .inline-flex {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .circle {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border:1px solid  #499D4A;
  }

  .important {
    color: #880e4f;
  }

  .justify-content-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &.sfeir-basic-slide {
    .center-big {
      text-align: center;
      font-size: 2.5em;
      color: black;
    }

    h1.center-big {
      font-size: 3em;
    }
  }

  &.with-code,
  &.with-code-dark {
    pre.big-code:not(.literal) {
      position: relative;
      top: 0;
    }
  }

  img[alt*='full-width-screen'] {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  img[alt*='bottom'] {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
