.form {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  padding-top: 1rem;
  box-sizing: border-box;
}

:deep(.ant-form) {
  width: calc(100% - 100px);
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;
}
