.container-card {
  display: flex;
  justify-content: center;
}

.content-card {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 0.5rem;
}

.content-card__info-line {
  display: flex;
  align-items: center;
}
